apiVersion: apps/v1
kind: Deployment
metadata:
  name: svc-d
  namespace: microservices
  labels:
    app: svc-d
    version: "1.0.0"
    managed-by: kubectl
spec:
  replicas: 2
  selector:
    matchLabels:
      app: svc-d
  template:
    metadata:
      labels:
        app: svc-d
        version: "1.0.0"
        managed-by: kubectl
    spec:
      containers:
        - name: svc-d
          image: AWS_ACCOUNT.dkr.ecr.us-east-1.amazonaws.com/svc-d:latest
          ports:
            - containerPort: 8083
              protocol: TCP
          envFrom:
            - configMapRef:
                name: shared-config
            - secretRef:
                name: db-credentials
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8083
            initialDelaySeconds: 15
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
